//color palette http://www.colourlovers.com/palette/953498/Headache

$turning-to-ash: #655643;
$only-cyan: #80BCA3;
$indivisible: #F6F7BD;
$golden-apple: #E6AC27;
$only-orange: #E6AC27;

$primary-background: $turning-to-ash;
$secondary-background: $only-cyan;
$tertriary-background: $indivisible;

$primary-text: $only-orange;
$secondary-text: $golden-apple;
