// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

.movie-item {
  @include background-image(linear-gradient($secondary-background-light, $secondary-background-dark));
  @include border-radius(3px);
  @include box-shadow(#111 0px 1px 5px);
  border: 1px solid $secondary-background-highlight;
  float: left;
  margin: 15px;
  padding: 10px;
  position: relative;
  width: 100%;

  .movie-thumbnail {
    float: left;
    height: 91px;
    margin-right: 10px;
  }

  .movie-title {
    font-size: 1.5em;
  }

  .movie-information {
    float: left;
  }

  .score-section {
    position: absolute;
    top: 0;
    right: 10px;

    & > div {
      color: white;
      float: right;
      margin-left: 10px;
      text-align: center;
    }

    div.score-value {
      background-color: green;
    }

    span.score-type {
      color: $primary-text;
    }

    .critic-score div.score-value {
      height: 45px;
      line-height: 45px;
      width: 45px;
    }

    .user-score div.score-value {
      height: 65px;
      font-size: 1.5em;
      line-height: 65px;
      width: 65px;
    }

    .sentiment-score div.score-value {
      height: 85px;
      font-size: 2em;
      line-height: 85px;
      width: 85px;
    }
  }
}
